---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
<time class="postlist-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{{ tags | log  }}
{% set tagsList = tags %}
{% include "filteredTags.njk" %}
{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
